<div id="feature">
  <div class="title-text">
    <p>FEATURES</p>
    <h1>Why Choose Us</h1>
  </div>
  <div class="feature-box">
    <div class="features">
      <h1>Experienced Staff</h1>
      <div class="features-desc">
        <div class="feature-icon">
          <i class="fa-solid fa-shield-halved"></i>
        </div>
        <div class="feature-text">
          <p>
            Choose VividTrim Studios for your creative needs and experience the
            unparalleled expertise of our seasoned professionals, dedicated to
            delivering captivating and innovative content.
          </p>
        </div>
      </div>
      <h1>Pre Booking Online</h1>
      <div class="features-desc">
        <div class="feature-icon">
          <i class="fa-solid fa-check-to-slot"></i>
        </div>
        <div class="feature-text">
          <p>
            Trust VividTrim Studios to redefine the way you engage with creative
            services through our accessible and efficient online pre-booking
            system.
          </p>
        </div>
      </div>
      <h1>Affordable Cost</h1>
      <div class="features-desc">
        <div class="feature-icon">
          <i class="fa-solid fa-peso-sign"></i>
        </div>
        <div class="feature-text">
          <p>
            We prioritize affordability without compromising on quality, making
            our services the ideal choice for those seeking exceptional results
            on a budget.
          </p>
        </div>
      </div>
    </div>
    <div class="features-img">
      <img src="../../assets/images/barber-man.jpg" alt="" />
    </div>
  </div>
</div>
