<div id="sideNav" [style.right]="sideNavRight">
  <nav>
    <ul>
      <li><a href="#section1" class="smooth-scroll" scrollSpy>HOME</a></li>
      <li><a href="#section2">FEATURES</a></li>
      <li><a href="#section3">SERVICES</a></li>
      <li><a href="#section4">TESTIMONIALS</a></li>
      <li><a href="#section5">MEET US</a></li>
    </ul>
  </nav>
</div>

<div id="menuBtn" (click)="toggleSideNav()">
  <img [src]="ImagePath" alt="" id="menu" />
</div>

<section id="section1">
  <app-home></app-home>
</section>
<section id="section2">
  <app-features></app-features>
</section>
<section id="section3">
  <app-services></app-services>
</section>
<section id="section4">
  <app-testimonials></app-testimonials>
</section>
<section id="section5">
  <app-footer></app-footer>
</section>
