<div id="services">
  <div class="title-text">
    <p>SERVICES</p>
    <h1>We Provide Better</h1>
  </div>
  <div class="service-box">
    <div class="single-service">
      <img src="../../assets/images/picture-1.jpg" alt="" />
      <div class="service-desc">
        <h3>Hair Styling</h3>
        <hr />
        <p>
          Hair styling is a transformative art that encompasses a diverse range
          of techniques and trends aimed at enhancing an individual's
          appearance.
        </p>
      </div>
      <div class="overlay"></div>
    </div>
    <div class="single-service">
      <img src="../../assets/images/picture-2.jpg" alt="" />
      <div class="service-desc">
        <h3>Beard Trim</h3>
        <hr />
        <p>
          Beard trimming is a meticulous grooming practice that involves shaping
          and refining facial hair to achieve a well-groomed and tailored look.
        </p>
      </div>
      <div class="overlay"></div>
    </div>
    <div class="single-service">
      <img src="../../assets/images/picture-3.jpg" alt="" />
      <div class="service-desc">
        <h3>Hair Cut</h3>
        <hr />
        <p>
          A haircut is more than just a simple grooming ritual; it's a
          personalized transformation that has the power to enhance one's
          appearance and confidence.
        </p>
      </div>
      <div class="overlay"></div>
    </div>
    <div class="single-service">
      <img src="../../assets/images/pic-4.jpg" alt="" />
      <div class="service-desc">
        <h3>Dry Shampoo</h3>
        <hr />
        <p>
          Dry shampoo is a versatile and time-saving hair care product designed
          to refresh and cleanse hair without the need for water.
        </p>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
</div>
