<div id="testimonials">
  <div class="title-text">
    <p>TESTIMONIALS</p>
    <h1>What Client Says</h1>
  </div>
  <div class="testimonial-row">
    <div class="testimonial-col">
      <div class="user">
        <img src="../../assets/images/img-1.jpg" alt="" />
        <div class="user-info">
          <h3>KEN NORMAN <i class="fa-brands fa-twitter"></i></h3>
          <small>@kenkennorman</small>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laboriosam
        explicabo culpa aliquid quam, tempora nisi facilis, quidem enim,
        distinctio porro quas vel tempore sed eligendi impedit modi quasi illum.
      </p>
    </div>
    <div class="testimonial-col">
      <div class="user">
        <img src="../../assets/images/img-2.jpg" alt="" />
        <div class="user-info">
          <h3>LIARA KARIAN <i class="fa-brands fa-twitter"></i></h3>
          <small>@itsliarakarian</small>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laboriosam
        explicabo culpa aliquid quam, tempora nisi facilis, quidem enim,
        distinctio porro quas vel tempore sed eligendi impedit modi quasi illum.
      </p>
    </div>
    <div class="testimonial-col">
      <div class="user">
        <img src="../../assets/images/img-3.jpg" alt="" />
        <div class="user-info">
          <h3>RICKEY DANIEL <i class="fa-brands fa-twitter"></i></h3>
          <small>@myguyricky</small>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laboriosam
        explicabo culpa aliquid quam, tempora nisi facilis, quidem enim,
        distinctio porro quas vel tempore sed eligendi impedit modi quasi illum.
      </p>
    </div>
  </div>
</div>
