<div id="testimonials">
  <div class="title-text">
    <p>TESTIMONIALS</p>
    <h1>What Client Says</h1>
  </div>
  <div class="testimonial-row">
    <div class="testimonial-col">
      <div class="user">
        <img src="../../assets/images/tristan.jpg" alt="" />
        <div class="user-info">
          <h3>TRISTAN LEE <i class="fa-brands fa-twitter"></i></h3>
          <small>@tvlvelardo@gmail.com</small>
        </div>
      </div>
      <p>
        Incredible experience at VividTrim-Studios! The skilled barbers here
        have an artful touch, and my haircut turned out exactly as I envisioned.
        The attention they give to each client is impressive. I've finally found
        a barbershop that delivers both style and a welcoming atmosphere. Highly
        recommended!
      </p>
    </div>
    <div class="testimonial-col">
      <div class="user">
        <img src="../../assets/images/girl.jpg" alt="" />
        <div class="user-info">
          <h3>SARAH MAGNO<i class="fa-brands fa-twitter"></i></h3>
          <small>@itsyourgirlsarahm</small>
        </div>
      </div>
      <p>
        Absolutely thrilled with my haircut at VividTrim-Studios! The precision
        and style exceeded my expectations. The atmosphere is lively, and the
        barbers' attention to detail is unmatched. Found my spot for a sharp cut
        and great vibes!
      </p>
    </div>
    <div class="testimonial-col">
      <div class="user">
        <img src="../../assets/images/raymart.jpg" alt="" />
        <div class="user-info">
          <h3>RAYMART SALVADOR<i class="fa-brands fa-twitter"></i></h3>
          <small>@salvadorraymart</small>
        </div>
      </div>
      <p>
        Couldn't be happier with my haircut at VividTrim-Studios! The barbers'
        expertise shines through, delivering a tailored and stylish look. The
        friendly atmosphere and attention to detail make it my preferred spot
        for grooming. A gem of a barbershop that I wholeheartedly recommend to
        anyone seeking a top-notch experience.
      </p>
    </div>
  </div>
</div>
